@import "css/bootstrap.css";

@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('css/fonts/gothic.eot');
    src: url('css/fonts/gothic.eot') format('embedded-opentype'),
         url('css/fonts/gothic.woff') format('woff'),
         url('css/fonts/gothic.ttf') format('truetype'),
         url('css/fonts/gothic.svg#CenturyGothicRegular') format('svg');
}

@font-face {
    font-family: 'CenturyGothicBold';
    src: url('css/fonts/gothicb.eot');
    src: url('css/fonts/gothicb.eot') format('embedded-opentype'),
         url('css/fonts/gothicb.woff') format('woff'),
         url('css/fonts/gothicb.ttf') format('truetype'),
         url('css/fonts/gothicb.svg#CenturyGothicBold') format('svg');
}

@font-face {
    font-family: 'CenturyGothicBoldItalic';
    src: url('css/fonts/gothicbi.eot');
    src: url('css/fonts/gothicbi.eot') format('embedded-opentype'),
         url('css/fonts/gothicbi.woff') format('woff'),
         url('css/fonts/gothicbi.ttf') format('truetype'),
         url('css/fonts/gothicbi.svg#CenturyGothicBoldItalic') format('svg');
}

@font-face {
    font-family: 'CenturyGothicItalic';
    src: url('css/fonts/gothici.eot');
    src: url('css/fonts/gothici.eot') format('embedded-opentype'),
         url('css/fonts/gothici.woff') format('woff'),
         url('css/fonts/gothici.ttf') format('truetype'),
         url('css/fonts/gothici.svg#CenturyGothicItalic') format('svg');
}

@font-face {
    font-family: 'PGIsadoraCyrProRegular';
    src: url('css/fonts/isadora.eot');
    src: url('css/fonts/isadora.eot') format('embedded-opentype'),
         url('css/fonts/isadora.woff') format('woff'),
         url('css/fonts/isadora.ttf') format('truetype'),
         url('css/fonts/isadora.svg#PGIsadoraCyrProRegular') format('svg');
}

textarea,
input[type=text],
input[type=email]{
	box-shadow: none;
	height: auto;
	font-size: 12px;
	line-height: 15px;

}

body{
	font-family: 'CenturyGothicRegular', arial;
}

label{
	font-family: 'CenturyGothicRegular', arial;
	font-size: 14px;
}

button{
	color: white;
	font-family: 'CenturyGothicBold', arial;
	font-size: 12px;
	border: none;
	background: transparent;
	padding: 0 22px;
	border-radius: 5px; 
	line-height: 25px;
	position: relative;
	z-index: 1;	
}

button:before{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: "";	
	border-radius: 5px;
	z-index: -1;
}

button:hover:after{
	position: absolute;
	width: 100%;
	height: 90%;
	content: "";	
	top: 0;
	left: 0;
	opacity: 0.5;
	border-radius: 5px;	
	z-index: -1;
}

h4, h2{
	font-family: 'CenturyGothicBold', arial;	
	font-weight: normal;
}

hr{
	border-top: none;	
}

input::-webkit-input-placeholder{
	font-family: 'CenturyGothicRegular', arial;
}

input:-moz-placeholder {
	font-family: 'CenturyGothicRegular', arial;
}

textarea::-webkit-textarea-placeholder{
	font-family: 'CenturyGothicRegular', arial;
}

textarea:-moz-placeholder {
	font-family: 'CenturyGothicRegular', arial;
}

#map-canvas{
	width: 100%;
	height: 500px;
}

.thumbs,
.form-order input,
.form-order textarea,
.btn-back,
.block-categories,
.block-cart,
.product p.price,
.carousel-indicators li,
.content-wrap,
.block-address,
.main-content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.main-content {
	width: 1010px;
	background: white;
	margin: 135px auto;
	padding: 27px;
	border-radius: 5px;
	position: relative;

	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
}

.main-content header{
	overflow: hidden;
	padding: 0  0 2px 0;	
}

.main-content footer{
	margin: 100px 0 0 0;	
	width: 100%;
	padding: 33px 0 0 0;
}

.main-content footer span{
	display: inline-block;
	margin: 0 0 0 43px;
}

h1.logo{	
	width: 149px;
	height: 106px;
	display: inline-block;
	text-indent: -9999999px;
	margin: 0;
	position: absolute;
	top: 22px;
	left: 26px;
}

footer a h1.logo2{	
	width: 109px;
	height: 95px;
	display: inline-block;
	text-indent: -9999999px;
	margin: 0;
}

.main-menu {
	list-style: none;
	margin: 0;
	display: inline-block;
	float: right;
}

.main-menu li{
	display: inline-block;
	margin-left: 27px;
}

.main-menu li a{
	padding: 9px 7px 25px 7px;
	text-transform: uppercase;	
	display: block;
	font-family: 'CenturyGothicBold', arial;
	font-size: 14px;

}

.main-menu li.current-menu-item a,
.main-menu li a:hover{
	text-decoration: none;
}

.sidebar-left{
	width: 280px;
	display: block;
	float: left;
	position: relative;
	min-height: 1038px;
}

.sidebar-left:after{
	content: "";
	position: absolute;
	width: 9px;
	height: 1038px;
	top: 30px;
	right: 0;	
}

.sidebar-left img{
	margin: 30px 0 0 0;
}

.left-menu{
	list-style: none;
	margin: 66px 0 0 0;
	width: 203px;
}

.left-menu li .sub-menu{
	display: none;
}

.left-menu .current-menu-item a{
	text-decoration: none;	
}

.left-menu .current-category-ancestor .sub-menu,
.left-menu .current-menu-item .sub-menu{
	display: block;
}

.left-menu li a{
	font-family: 'CenturyGothicBold', arial;
	font-size: 14px;	
	text-transform: uppercase;
	position: relative;
	padding: 7px 0;
	display: block;
}

.left-menu li a:hover{
	text-decoration: none;
}

.left-menu li.current-menu-item a:before,
.left-menu li.current-category-ancestor a:before,
.left-menu li a:hover:before {
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: -21px;
	background: transparent;
	position: absolute;
}

.left-menu li.current-category-ancestor .sub-menu li a:before,
.left-menu li.current-menu-item .sub-menu li a:before{
	box-shadow: none;
}


.sub-menu{
	list-style: none;
	margin: 0 0 0 17px;
	position: relative;
}

.sub-menu:before{
	content: "";
	position: absolute;
	left: -17px;
	top: 0;
	width: 100%;
	height: 100%;
}

.current-menu-item .sub-menu li a,
.sub-menu li a{
	font-family: 'CenturyGothicRegular', arial;	
	text-transform: none;
	padding: 0;
}

.sub-menu li.current-menu-item a,
.current-menu-item .sub-menu li a:hover,
.sub-menu li a:hover{
	font-family: 'CenturyGothicBold', arial;
	text-decoration: none;
}

.left-menu li.current-category-ancestor .sub-menu li.current-menu-item a:before,
.left-menu li.current-category-ancestor .sub-menu li a:hover:before,
.left-menu li.current-menu-item .sub-menu li.current-menu-item a:before,
.left-menu li.current-menu-item .sub-menu li a:hover:before{
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: -15px;
	background: transparent;
	position: absolute;
}

.block-address {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 220px;
	border-radius: 5px;
	color: white;
	font-family: 'CenturyGothicBold', arial;
	padding: 18px;
	margin: 82px 0 0 0;
}

.block-search-by-price{
	margin: 36px 0 0 0;	
}

.block-search-by-price label{
	display: inline-block;
	line-height: 25px;
	margin: 0;
}

.block-search-by-price input{
	width: 66px;
	margin: 0;
}

.block-search-by-price button[type=submit]{
	margin: 20px 0 0 0;
}

.block-latest-news b,
.block-order-by b,
.block-search-by-price b{
	font-family: 'CenturyGothicBold', arial;
	font-weight: normal;
	text-transform: uppercase;	
}

.block-order-by{
	margin: 35px 0 0 0;
}

.block-order-by ul{
	list-style: none;
	margin: 8px 0 0 0;
}

.block-order-by ul li a{
	color: black;
	font-size: 12px;	
}

.block-latest-news{
	margin: 40px 0 0 0;
	width: 220px;
}

.block-latest-news hr{
	margin: 17px 0 0 0;	
	border-bottom: none;
}

.block-latest-news article{
	margin: 10px 0 0 0;
}

.block-latest-news article span a{
	color: black;
}

.block-latest-news article small{
	font-family: 'CenturyGothicRegular', arial;
	font-size: 12px;	
	display: block;
}

.block-social{
	list-style: none;
	position: absolute;
	top: 33px;
	right: 0;
	margin: 0;
	display: block;
}

.block-social li{
	display: inline-block;
	margin: 0 0 0 22px;
}

.block-social li a{	
	height: 20px;
	display: inline-block;
}

.block-cart {
	position: absolute;
	top: -98px;
	right: 0;
	padding: 17px 13px 17px 50px;
	background: white;
	height: 58px;

	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	border-radius: 5px;
}

.block-categories{
	list-style: none;
	display: inline-block;	
	border-radius: 5px;
	height: 35px;
	padding: 0 10px;
	margin: 0 0 10px 21px;
}

.block-categories li{
	display: inline-block;	
	position: relative;
}


.block-categories li:first-child:before{
	width: 0;
}
.block-categories li:before{
	content: "";
	width: 1px;
	height: 13px;
	top: 12px;
	left: 0;
	position: absolute;	
}

.block-categories li a{
	display: block;
	padding: 0 8px;
	line-height: 35px;	
	font-family: 'CenturyGothicBold', arial;
	color: #C0C0C0;
}

.block-categories li a:hover{
	font-family: 'CenturyGothicBold', arial;
	text-decoration: none;
	color: black;
}

.block-cart span{
	color: black;
}

.facebook{
	background: url(img/icon_facebook.png) no-repeat;
	width: 5px;
}

.vkontakte{
	background: url(img/icon_vkontakte.png) no-repeat;
	width: 8px;
}

.rss{
	background: url(img/icon_rss.png) no-repeat;
	background-position: -3px -3px;
	width: 16px;
}

.content-wrap{
	width: 676px;
	display: block;
	float: left;
	position: relative;
	padding: 66px 0 0 0;
}

.content-wrap article{
	margin: 0 0 0 21px;
}

.content-wrap article .article-content{
	overflow: hidden;
}

.content-wrap article img{
	margin: 0 10px 10px 0;
	width: auto;
}

.content-wrap article h4{
	margin: 15px 0 35px 0;
}

.content-wrap article small{
	display: block;
	font-size: 14px;
}

.content-wrap article span{
	font-size: 14px;
}

.content-wrap article span img{
	margin: 16px 16px 16px 0;
}

.content-wrap .carousel{
	margin: 0 0 48px 0;
}

.content-wrap .carousel .carousel-indicators{
	bottom: -22px;
	top: auto;
	right: 0;
}

.carousel-indicators li{	
	background: transparent;
	margin-left: 9px;
	cursor: pointer;
}

.product .row-fluid{
	margin-bottom: 10px;
}
.product label{
	display: inline-block;
	margin: 0 0 0 5px;
	color: #8C8C8C;
	text-decoration: underline;
}

.product input[type="checkbox"]
{
	border-color: #dcdcdc;
}

.product header{	
	height: 60px;
	width: 600px;
	margin: 60px 10px 15px 14px;
	text-align: center;
	position: relative;
	border: none;
}

.product  header.sale:before{
	background: transparent;
}

.product  header.sale{
	height: 50px;
	margin-top: 0;
}

.product  header nav{
	text-align: left;
}

.product  header nav a{
	padding: 0 20px;
	text-transform: uppercase;
	font-family: 'CenturyGothicBold', arial;
}

.product  header nav a:hover{
	text-decoration: none;
}

.product figure .circle
{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50px;	
	position: absolute;
	right: 0;
	top: 0;
}

.product figure .circle span{
	font-family: 'CenturyGothicBold', arial;
	color: white;
	line-height: 50px;
}

.product figure .circle span:before{
	content: "-";
}

.product figure .circle span:after{
	content: "%";
}

.product header:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
	height: 10px;
	background: url(img/product_top_shadow.png) no-repeat;
}

.product header:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 600px;
	height: 10px;
	background: url(img/product_bottom_shadow.png) no-repeat;
}

.product header b{
	text-transform: uppercase;
	color: #b7770d;
	line-height: 60px;
	font-size: 18px;
	font-family: 'CenturyGothicBold', arial;
}

.product figure{
	height: 175px;
	margin: 10px 0 0 0;
	text-align: center;	
	position: relative;
}
.product figure figcaption{
	position: absolute;
	text-align: left;
	font-family: 'CenturyGothicBold', arial;
	bottom: 5px;
}

.product hr{
	margin: 0 0 17px 0;
	border-top: none;
}

.product span{
	display: block;
	height: 70px;
}


.product p.price{
	text-align: center;
	width: 160px;
	height: 35px;
	background: transparent;	
	font-family: 'CenturyGothicBold', arial;
	margin: 29px auto 0 auto;
	font-size: 14px;
	display: block;
	border-radius: 5px;
	line-height: 35px;
}

button.btn-buy{
	width: 100%;
	height: 37px;
	margin: 0;
	display: block;
}
p.price{
	text-align: center;
	width: 100%;
	height: 35px;
	background: transparent;	
	font-family: 'CenturyGothicBold', arial;
	margin: 0 auto;
	font-size: 14px;
	display: block;
	border-radius: 5px;
	line-height: 35px;
}

.product button{
	width: 160px;
	height: 35px;
	margin: 10px auto 0 auto;
	display: block;
}

.tip{
	width: 278px;
	display: inline-block;
	margin: 0 23px;
	position: relative;
	float: left;
}

.tip .black{
	color: black;
}

.tip .arrow-down{
	background: url(img/arrow_down.png) no-repeat;
	width: 18px;
	height: 10px;
	display: block;
	position: absolute;
	left: 130px;
	bottom: 30px;
}
.tip a b{
	margin: 17px 0 0 0;	
	display: block;
	font-weight: normal;
	font-family: 'CenturyGothicBold', arial;
}

.tip hr{	
	border-top: none;
	margin: 15px 0 57px 0;
}

article .tip a img{
	width: 100%;
	max-height: 100%;
}

.btn-remove-all{
	display: block;
	margin: 15px;
}

.btn-remove{
	width: 19px;
	height: 19px;
	display: block;
	background: url(img/icon_remove.png) no-repeat;
	border: 1px solid #747474;
	padding: 0;
	background-position: 4px 4px;
	margin: 0 auto;
}

.btn-advistor{
	position: absolute;
	left: 0;
	top: 50%;
	width: 44px;
	height: 207px;
	background: url(img/button_advistor.png) no-repeat;
	border-radius: 0;
}
.btn-back{
	height: 35px;
	width: 160px;
	border: 1px solid #f3ab3d;
	line-height: 35px;
	text-align: center;
	display: inline-block;
	color: white;
	border-radius: 5px;
	font-size: 14px;
	background: #f3ab3d;
	background-position: 14px 10px;
}

.btn-back:hover{
	text-decoration: none;
	color: white;
	background: #b7770d;
	border: 1px solid #b7770d;
}

.comments{
	margin: 57px 0 0 0;
}

.comments header{
	padding: 0 0 15px 0;
	margin: 0 0 22px 0;
}

.comments header b{
	text-transform: uppercase;	
}

.comments footer{
	border: none;
	margin: 53px 0 0 0;
	padding: 0;
}

.comments footer input{
	width: 140px;
	display: block;
	line-height: 35px;
	padding: 9px 6px;
}

.comments footer textarea{
	width: 437px;
	display: block;
}

.thumbs{
	height: 142px;
	width: 100%;
	margin: 0 auto;
	display: block;
	overflow: hidden;
	padding: 0 0 0 25px;
	position: relative;
}

.thumbs .thumbs-images{
	list-style: none;
	margin: 0;
	display: inline-block;
	text-align: center;
}

.thumbs .thumbs-images li{
	display: inline-block;
	padding: 6px;
}

.thumbs .thumbs-images li img{
	margin: 0;
}

.thumbs .thumbs-controls .next-image,
.thumbs .thumbs-controls .prev-image{
	position: absolute;
	width: 19px;
	height: 32px;
	top: 60px;
	
}

.thumbs .thumbs-controls .prev-image{	
	left: 0;	
}

.thumbs .thumbs-controls .next-image{
	right: 0;	
}

.cart-title{	
	font-family: 'CenturyGothicBold', arial;
	display: block;
	margin: 0 0 18px 0;
}

.cart-table{
	width: 100%;
	border-collapse: separate;
	line-height: 35px;	
}

.cart-table thead tr th{
	font-weight: normal;
}

.cart-table thead tr th:first-child{
	border-radius: 5px 0 0 5px;
}

.cart-table thead tr th:last-child{
	border-radius: 0 5px 5px 0; 
}

.cart-table tbody td{
	text-align: center;
}

.form-order{
	width: 444px;
}

.form-order textarea{
	width: 100%;
	height: 100px;
}

.form-order input{
	width: 212px;
}

.form-order b{
	font-family: 'CenturyGothicBold', arial;
	font-weight: normal;
	display: block;
	margin: 0 0 20px 0; 
}


.contacts-title{
	font-family: 'CenturyGothicBold', arial;
	display: block;
	margin: 0 0 17px 0;
	font-weight: normal;
}

.icon-phone{
	display: inline-block;
	width: 17px;
	height: 17px;
	margin: 0 7px 0 0;
}

.icon-mail{
	display: inline-block;
	width: 17px;
	height: 18px;
	margin: 0 7px 0 0;
}

.map{
	margin: 20px 0 20px 0;
}

.comment-list{
	margin: 0;
	list-style: none;
}

.comment-list li{
	display: block;
	margin: 0 0 10px 0;
}

.comment-list li  span{
	-ms-word-wrap: break-word;
	word-wrap: break-word;	
}

.alignleft{
	float: left;
}

.alignright{
	float: right;
}

.search-form{
	margin-top: 40px;
	position: relative;
}

.search-field{
	position: relative;
	background: url(img/icon_search.png) no-repeat;
	background-position: 190px 7px;
}

.image-center{
	width: 100%;
	display: block;
	position: relative;
	text-align: center;
}

.image-center img{
	display: inline;
}

.block-categories .block-categories-active{
	font-family: 'CenturyGothicBold', arial;
	font-weight: normal;
}

li.block-categories-active a{
	color: black;
}

button.close:before{
	background: none;
}

button.close:hover:after{
	background: none;
}

.compare {
	text-align: center;
	padding: 0 0 0 30px;
}

.compare h4{
	margin: 0 0 40px 0;
	text-align: left;
}

.shadow-bottom{
	background: url(img/product_bottom_shadow.png) no-repeat;
	display: block;
	width: 100%;
	height: 30px;
	margin: 35px 0 0 0;
}

.pre{
	white-space: pre-wrap;
}

.row-fluid .span4{
	padding: 11px;
}

.main-content header nav.nav-line{
	float: right;
	width: 680px;
	padding: 0 0 2px 0;
}

.i-phone{	
	width: 18px;
	height: 18px;
	display: inline-block;
}

.i-mail{	
	width: 18px;
	height: 19px;
	display: inline-block;
}

.bordered{
	border: 1px solid #c0c0c0;
	border-radius: 5px;
}

.sale-wrap header nav a{
	font-size: 18px;
}

.sale-wrap header nav a.active{
	color: black;
}

.sale-wrap header nav div.separator {
	display: inline-block;
	height: 23px;
	position: relative;
	top: 4px;
	width: 1px;
}

.cat-image{
	display: block;
	height: 130px;
	overflow: hidden;
}

.compare-table{
	width: 100%;
}

.compare-table tbody tr:nth-child(odd) td,
.compare-table tbody tr:nth-child(odd) th {
  background-color: #f4f4f4;
}

.bigger{
	width: 100% !important;
}

.product .bordered label{
	margin-top: 10px;
}